<nav>
    <div class="logo-wrap">
        <img class="logo" src="https://ichef.bbci.co.uk/news/549/cpsprodpb/E212/production/_98747875_002563998-2.jpg"  alt=""/>
    </div>
    <div class="title2">
        <a class="" href="/"> Product Dashboard:</a>
        <p class="nos"> Product Outages &#128128;</p>
    </div>
    <ul>
        <li><a href="/">Outages</a> </li>
        <li><a href="/blogs/create">Add New Outage</a> </li>

    </ul>
</nav>
<div class="bar">
  
</div>