<html lang="en">
    <%- include('./partials/head.ejs') %> <!-- head.js found in partials folder-->
<body>
    <div class="title">
        <h1>Hello Earthlings</h1>
    </div>
    <%- include('./partials/nav.ejs') %> <!-- nav.js found in partials folder-->

    <div class="404-content">
        <h2>Page Not Found 404 Error...</h2>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>